@page
@using Crafty.WebSite.Components
@model Crafty.WebSite.Pages.ProductModel
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Available Products</h1>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
